{% extends "base.html" %}
{% load static %}

{% block title %}<title>Welcome to The Poise Woman</title> {% endblock %}

{% block content %}

<div class="container-fluid bg-info">
    <div class="row">
        <div class="col"><h2 class="p-3">About Me</h2></div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col m-5 p-4">
                <img src="{% static 'img/makky.jpg' %}" class="mr-3 class=" alt="...">
                <p class="">
                Makua’s life's goal is to create indelible prints in lives of people through palpable impact, a desire which drove her to study Medicine and Surgery and now taking action everyday to save lives as a practicing medical Doctor. She is passionate about making people feel better and offering them another opportunity at life. She is very interested and has a unique interest in women and girl child empowerment.
      
      Makua loves art, culture and entertainment.</p>
      <p>She was inspired to author her first piece of published writing – The Poise Woman, after going through a toxic relationship and deciding to pass on lessons learned to other women. She loves to write poems with themes that are centered on life and experiences.  She also writes fiction with themes on relationship, women and child abuse.</p>
      
      <p>The success and traction gained by The Poise Woman book in addition to her knack for excellence and creativity caused her to launch the Poise woman Initiative, a community established to educate and empower women and girl child through knowledge sharing, skills building and development to enable problem solving, teaching the women to build their self confidence, stand up and defend themselves in places they feel helpless.</p> 
      
      <p>To further demonstrate her passion for the betterment of women and girls, she created and is the host of a monthly talk show titled - Stop Dating Douchebags; where women are educated to build healthy relationships, identify and learn to defend themselves in toxic and abusive relationships and exit when the relationship is life threatening.
      
      Makua has published one other book titled Vamoose to raise awareness about domestic violence, teach women about their place in the world helping them to stand up for themselves.</p>
              
        </div>
        
    </div>

</div>


{% endblock %}
